<%= form_for @task do |f| %>
<div class="container2">
  <div class="field">
    <%= f.label :title %> <br />
    <%= f.text_field :title %> <br />
  </div>
  <div class="field">
    <%= f.label :details %> <br />
    <%= f.text_field :details %> <br />
  </div>
  <div class="field">
    <%= f.label :completed %> <br />
    <%= f.check_box :completed %> <br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
